* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(60px);
    position: fixed;
    width: 100%;
    z-index: 99;

}

nav h3 {
    font-weight: 200;
}

.main {
    width: 100%;
    height: 100%;
}

.main .first {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
    z-index: 11;
}

.first img {
    background-size: cover;
    background-position: top;
    width: 70%;
    height: 72vh;
    margin-top: 20px;
}

.first h1 {
    position: absolute;
    z-index: 33;
    font-size: 3vw;
    color: black;
    bottom: 30%;
}

.first p {
    position: absolute;
    bottom: 25%;
}

.first button {
    position: absolute;
    bottom: 15%;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    border: 2px solid #0077ED;
    background-color: transparent;
    color: #0077ED;
}

.first button:hover {
    background-color: #0077ED;
    color: white;
}

.secound {
    height: 70vh;
    width: 100%;

    text-align: center;
    padding: 50px;
    background: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_largetall.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.5vw;
}

.bt {
    padding: 20px;
}

.bt button:first-child {
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #0077ED;
    color: aliceblue;
    margin-right: 20px;
}

.bt button:nth-child(2) {

    padding: 15px;
    border-radius: 25px;
    border: 1px solid #0077ED;
    background-color: transparent;
    color: #0077ED;
}

.third {
    margin: 30px 0 30px 0px;
    background-color: #F5F5F7;
    height: 70vh;
    width: 100%;
    padding: 50px;
    text-align: center;
    background: url("https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_largetall.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 1.5vw;
}

.fourth {
    margin: 30px 0 20px 0px;

    height: 70vh;
    width: 100%;
    text-align: center;
    padding: 50px;
    background: url("https://sumanrajbera.github.io/cohort-day-13-2-task/assets/magichromatic.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 1.5vw;
}

.boxes{
 display: flex;

 flex-wrap: wrap;
 gap: 20px;
 justify-content: center;

}
.box{
    height: 30vw;
    width: 48vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
     text-align: center;
     padding: 30px;
     background-size: cover;
     background-position: center;
}
footer{
    height: 30px;
    width: 100%;
    background-color: #0077ED;
    margin-top: 20px;
}

#first{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-17/promo_iphone_17__bhofuohbsu3m_large.jpg);
    background-size: cover;
    background-position: center;
}
#secound{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_small.jpg);
}
#third{
    background-image: url(https://www.apple.com/in/home/images/promos/apple-watch-ultra-3/promo_apple_watch_ultra3__bwvslhbxx99e_large.jpg);
    color: white;
}
#fourth{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large.jpg);
}
#five{
    background: url(https://www.apple.com/in/home/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large.jpg);
    background-position: center;
}
#six{
  display: flex;
  align-items: center;
  justify-content: flex-end;
    background: url(https://www.apple.com/in/home/images/promos/apple-watch-se-3/promo_apple_watch_se_3__fz5y29qx5mmy_large.jpg);
    background-position: center;
}
.bt button:nth-child(2):hover{
  background-color: #0077ED;
  color: white;
  cursor: pointer;
}